
@{
    ViewBag.Title = "Dashboard";
}
    @*<div class="row">
        <p>
            <b>
               STATUS : ON DEVELOPMENT.
            </b>
        </p>
    </div>
    <div class="row clearfix">
        <div class="col-xl-3 col-md-6">
            <div class="card prod-p-card card-red">
                <div class="card-body">
                    <div class="row align-items-center mb-30">
                        <div class="col">
                            <h6 class="mb-5 text-white">Total Stock</h6>
                            <h3 class="mb-0 fw-700 text-white">1,783</h3>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-box-open text-red f-18"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card prod-p-card card-blue">
                <div class="card-body">
                    <div class="row align-items-center mb-30">
                        <div class="col">
                            <h6 class="mb-5 text-white">Total Production</h6>
                            <h3 class="mb-0 fw-700 text-white">15,830</h3>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-database text-blue f-18"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card prod-p-card card-green">
                <div class="card-body">
                    <div class="row align-items-center mb-30">
                        <div class="col">
                            <h6 class="mb-5 text-white">Average Price</h6>
                            <h3 class="mb-0 fw-700 text-white">6,780</h3>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign text-green f-18"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card prod-p-card card-yellow">
                <div class="card-body">
                    <div class="row align-items-center mb-30">
                        <div class="col">
                            <h6 class="mb-5 text-white">Product Sold</h6>
                            <h3 class="mb-0 fw-700 text-white">6,784</h3>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tags text-warning f-18"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@